.mypage-container {
  max-width: 800px;
  margin: 0 auto; 
}

.mypage-info {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0;
  color: gray;
}

.mypage-top {
  padding: 40px 0;
  display: flex;
  gap: 30px;
  align-items: center;
}