.footer-container {
  display:flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #6b7280;
  color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 1000px;
}