.navbar-container {
  width: 100%;
  height: 50px;
  background-color: #6b7280;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 1000px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-container img {
  height: 30px;
  width: 30px;
}

.genre-btn {
  cursor: pointer;
}

.user-info-btn{
  all:unset;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.user-menu-wrapper {
  position: relative;
}

.user-popover {
  position: absolute;
  right: 40px;
  top: 20px;
  margin-right: 8px; 

  background: black;
  border-radius: 6px;
  padding: 6px 0;
  min-width: 160px;
}